# Sao chép file này thành .env rồi điền giá trị thật
DB_USER=postgres
DB_PASSWORD=change-me
JWT_SECRET=change-me-base64-min-64-bytes
REDIS_PASSWORD=change-me
RABBITMQ_USER=admin
RABBITMQ_PASS=change-me

# Tùy chọn - dùng cho notification-service gửi email
EMAIL_USER=ibankingsupport@gmail.com
EMAIL_PASS=rzti tyat aqml rnbm
